.overline {
  width: 100%;
  height: 1vh;
  background-color: #dc3545;
}
.textend {
  float: right;
  text-decoration: none !important;
}
.boderthickness {
  border: 2px solid black;
}

.borderwork {
  border: 1px solid black;
  border-radius: 2rem;
}
.linktextclr {
  text-decoration: none;
  color: #dc3545;
}
