.sidebar {
    background-color: #001040;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .sidebar .toggle-btn {
    background-color: #001040;
    width: 100%;
    text-align: start;
    padding: 10px;
    margin-left: 6px;
    cursor: pointer;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition:  0.3s ease;
  }
  
  .sidebar ul li:hover {
    background-color: #001040;
  }
  
  .sidebar ul li .fa-icon {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 80px;
    }
  
    .sidebar .toggle-btn {
      display: none;
    }
  }
  
  a {
    text-decoration: none; 
    color: inherit;
    color: white; 
  }


  