.feedbackbtn{
  background-color: rgb(3, 3, 50);
  color: white;
}
.feedbackbtn:active{
  background-color: #001040;
  color: white;
}
.iconclr{
  color: #001040;
  margin: 0px 5px;
}

.entirequizpart{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f6f7f8; 
    border: 0px;
}

.fc1{
  border: 0px !important;
  box-shadow: 1px 1px 10px 1px rgb(237, 235, 235) !important;
  }