@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");



.dropdown-item{
    color: red !important;
}

th{
    background-color: #001040 !important;
}

th a{
    color: #fff !important;
    text-decoration: none;
}
/* tr td{
background-color: #d4e6ef;
} */

