/* ResetPassword Component Styles */
.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .reset-password-container h2 {
    text-align: center;
    color: #001040;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reset-password-container .form-group {
    margin-bottom: 15px;
  }
  
  .labeltext1{
    color: #001040;
  }
  
  .reset-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* .bgparts{
    background-color: ;
  } */
  
 
  
  .reset-password-container .message {
    text-align: center;
    color: #d9534f;
    margin-top: 15px;
    font-size: 14px;
  }
  