.firstbtn{
    background-color: #EE4A62;
    border-radius: 15px !important;
    color: white;
}

.secondbtn{
     background-color: #FDA101;
    border-radius: 15px !important;
    color: white; 
}
.pt{
  color: #FDA101;
  line-height: 18px;
  font-size: 1.4rem;

}
.int{
    font-weight: 700 !important;
    font-size: 35px;
}
.subheadken{
    font-size: 1.8rem;
}
@media (max-width:768px){
    .pt{
      line-height: 24px;  
    }
    .mainsection p{
        text-align: start;
    }
}

a{
    text-decoration: none !important;
}