.crdcolorforcard{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    background-color: #f6f7f8 !important; 
    border: 0px !important;
}
.plusbtn{
    background-color: rgb(5, 5, 62);
    border-radius: 30px;
}
.plusbtn:hover{
    background-color: rgb(5, 5, 62);
    border-radius: 30px;
}
.btnaddcategory{
    background-color: #001040;
    
}

.btnaddcategory:hover{
    background-color: #001040;
    transform: scale(1.1,1.1);
}

